<h3>Add a New Blog Post</h3>
<%= form_with model: @post, local: true do |form| %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <br />
  <%= form.label :content %>
  <%= form.text_field :content %>

  <br />
  <%= form.submit 'Add Blog Post' %>
  <%= form.submit 'Clear Form', :type => 'reset' %>
<% end %>

<br />
<%= link_to "Back to All Posts", blog_posts_path %>
