<h1>Edit a Blog Post</h1>

<%= form_with url: "/blog_posts/#{params[:id]}", method: "patch", local: true do |form| %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :content %>
  <%= form.text_field :content %>

  <%= form.label :publish_date %>
  <%= form.date_field :publish_date %>

  <%= form.submit :update %>
<% end %>
