<h1>Top Three</h1>

<h2>Sarah's Favorite Books</h2>
<ul>
  <li><%= link_to 'A Short History of Nearly Everything', '/short' %></li>
  <li><%= link_to 'Me Talk Pretty One Day', '/pretty' %></li>
  <li><%= link_to 'The Adventures of Sherlock Holmes', '/sherlock' %></li>
</ul>

<h2>Austin's Favorite Cars</h2>
<ul>
  <li><%= link_to 'Porsche Taycan', '/porsche' %></li>
  <li><%= link_to 'McLaren Senna', '/mclaren' %></li>
  <li><%= link_to 'Ferrari Testarossa', '/ferrari' %></li>
</ul>
